

.legend {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 300px
}

.chartContainer {
  width: 200px;
}

.containerClass {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0;
}